{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{{ question }}</h1>
            </div>
			<a href="/cards/1/answer">Submit</a>
        </div>
    </div>
{% endblock %}

